@import url("http://fonts.cdnfonts.com/css/circular-std");
@import url("https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap");

.p-3.m-3.card.skeleton {
  font-family: "Flow Circular", cursive;
}

body {
  background-color: black;
  color: #f2f2f2;
  font-family: "Circular Std", sans-serif;
}

.btn-primary {
  background-color: #64d762;
  border-color: #64d762;
}

.p-3.m-3.card {
  background-color: #282828;
}

h5,
h2 {
  color: #f2f2f2;
  position: relative;
}

span {
  font-size: 14pt;
}

.form-label {
  font-size: 14pt;
}

.loading {
  position: relative;
}
.loading::before {
  position: relative;
  color: #f2f2f2;
  position: relative;
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  max-width: 10em;
  white-space: nowrap;
  color: rgb(196, 195, 195);
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    max-width: 0;
  }
}
